<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::content})}">


    <div class="container" th:fragment="content">
            <div class="page-inner">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Add Resident</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email">Email Address</label>
                                            <input type="email" class="form-control" id="email"
                                                   placeholder="Enter Email" />
                                        </div>

                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name"
                                                   placeholder="Name"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="citizenId">CitizenId</label>
                                            <input type="text" class="form-control" id="citizenId"
                                                   placeholder="CitizenId" />
                                        </div>

                                        <div class="form-group">
                                            <label for="birthday" >Birthday</label>
                                            <input
                                                    type="date"
                                                    class="form-control"
                                                    id="birthday"
                                                    name="birthday"
                                                    placeholder="Birthday"
                                            >
                                        </div>

                                        <div class="form-group">
                                            <label>Gender</label><br />
                                            <div class="d-flex">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                           name="flexRadioDefault" id="flexRadioDefault1" value="MALE"/>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        MALE
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                           name="flexRadioDefault" id="flexRadioDefault2" checked value="FEMALE" />
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        FEMALE
                                                    </label>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="nationality">Nationality</label>
                                            <input type="text" class="form-control" id="nationality"
                                                   placeholder="Nationality" />
                                        </div>

                                        <div class="form-group">
                                            <label for="countryside">Countryside</label>
                                            <input type="text" class="form-control" id="countryside"
                                                   placeholder="Countryside" />
                                        </div>

                                        <div class="form-group">
                                            <label for="ethnic">Ethnic</label>
                                            <input type="text" class="form-control" id="ethnic"
                                                   placeholder="Ethnic" />
                                        </div>


                                        <div class="form-group">
                                            <label for="phoneNumber">Phone number</label>
                                            <input type="text" class="form-control" id="phoneNumber"
                                                   placeholder="phoneNumber" />
                                        </div>

                                        <div class="form-group">
                                            <label for="job">Job</label>
                                            <input type="text" class="form-control" id="job" placeholder="Job" />
                                        </div>

                                        <div class="form-group">
                                            <label for="workplace">Workplace</label>
                                            <input type="text" class="form-control" id="workplace"
                                                   placeholder="Workplace" />
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-success" id="submitBtn">Submit</button>
                                <button class="btn btn-danger" id="cancelBtn" onclick="history.back()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        <script>
            document.getElementById('submitBtn').addEventListener('click', function(event) {
                console.log("test")
                event.preventDefault();  // Ngừng hành động mặc định của nút (nếu có)
                console.log(document.getElementById('birthday').value)

                // Thu thập dữ liệu từ form
                const name = document.getElementById('name').value;
                const email = document.getElementById('email').value;
                const citizenId = document.getElementById('citizenId').value;
                const gender = document.querySelector('input[name="flexRadioDefault"]:checked').value;
                const job = document.getElementById('job').value;
                const workplace = document.getElementById('workplace').value;
                const nationality = document.getElementById('nationality').value;
                const countryside = document.getElementById('countryside').value;
                const ethnic = document.getElementById('ethnic').value;
                const phoneNumber = document.getElementById('phoneNumber').value;
                const birthday = document.getElementById('birthday').value;


                // Tạo đối tượng dữ liệu từ form
                const formData = {
                    name: name,
                    email: email,
                    citizenId: citizenId,
                    sex: gender,
                    job: job,
                    workplace: workplace,
                    nationality: nationality,
                    countryside: countryside,
                    ethnic: ethnic,
                    phoneNumber: phoneNumber,
                    birthday: birthday
                };

                console.log(JSON.stringify(formData))

                // Gọi API sử dụng fetch
                fetch('api/demographics', {
                    method: 'POST',  // Phương thức HTTP
                    headers: {
                        'Content-Type': 'application/json'  // Định dạng dữ liệu là JSON
                    },
                    body: JSON.stringify(formData)  // Chuyển đổi đối tượng thành JSON
                })
                        .then(async (response) => {
                            const data =  await response.json();
                            if (!response.ok) {
                                throw new Error('Error: ' + data.message);
                            }
                            return data;
                        })  // Xử lý phản hồi API
                        .then(data => {
                            console.log('Success:', data);
                            alert("Add demographic success");
                            window.location.href = '/viewAllDemographics';
                            // Làm gì đó sau khi thành công (ví dụ: chuyển hướng, thông báo, v.v.)
                        })
                        .catch(error => {
                            alert(error.message);
                            // Xử lý lỗi (ví dụ: hiển thị thông báo lỗi)
                        });
            });

            function convertDateFormat(dateStr) {
                const [day, month, year] = dateStr.split('/');
                return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
            }
        </script>
    </div>