<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::content})}">


    <div class="container" th:fragment="content">
        <script>
            document.getElementById('submitBtn').addEventListener('click', function(event) {
                console.log("test")
                event.preventDefault();  // Ngừng hành động mặc định của nút (nếu có)
                console.log(document.getElementById('birthday').value)

                // Thu thập dữ liệu từ form
                const name = document.getElementById('name').value;
                const email = document.getElementById('email').value;
                const citizenId = document.getElementById('citizenId').value;
                const gender = document.querySelector('input[name="flexRadioDefault"]:checked').value;
                const job = document.getElementById('job').value;
                const workplace = document.getElementById('workplace').value;
                const nationality = document.getElementById('nationality').value;
                const countryside = document.getElementById('countryside').value;
                const ethnic = document.getElementById('ethnic').value;
                const phoneNumber = document.getElementById('phoneNumber').value;
                const birthday = document.getElementById('birthday').value;


                // Tạo đối tượng dữ liệu từ form
                const formData = {
                    name: name,
                    email: email,
                    citizenId: citizenId,
                    sex: gender,
                    job: job,
                    workplace: workplace,
                    nationality: nationality,
                    countryside: countryside,
                    ethnic: ethnic,
                    phoneNumber: phoneNumber,
                    birthday: birthday
                };

                console.log(JSON.stringify(formData))

                // Gọi API sử dụng fetch
                fetch('api/demographics', {
                    method: 'POST',  // Phương thức HTTP
                    headers: {
                        'Content-Type': 'application/json'  // Định dạng dữ liệu là JSON
                    },
                    body: JSON.stringify(formData)  // Chuyển đổi đối tượng thành JSON
                })
                        .then(async (response) => {
                            const data =  await response.json();
                            if (!response.ok) {
                                throw new Error('Error: ' + data.message);
                            }
                            return data;
                        })  // Xử lý phản hồi API
                        .then(data => {
                            console.log('Success:', data);
                            alert("Add demographic success");
                            window.location.href = '/viewAllDemographics';
                            // Làm gì đó sau khi thành công (ví dụ: chuyển hướng, thông báo, v.v.)
                        })
                        .catch(error => {
                            alert(error.message);
                            // Xử lý lỗi (ví dụ: hiển thị thông báo lỗi)
                        });
            });

            function convertDateFormat(dateStr) {
                const [day, month, year] = dateStr.split('/');
                return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
            }
        </script>
    </div>