<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::content})}">

<div class="container" th:fragment="content">
	<div class="page-inner">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Add Contribution</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 col-lg-6">

								<div class="form-group">
									<label for="type">Type Fee</label>
									<select class="form-select form-control" id="type">
										<option>NON_MANDATORY</option>
										<option>MANDATORY</option>
									</select>
								</div>

								<div class="form-group">
									<label for="costStandard">Cost</label>
									<input type="number" class="form-control" id="costStandard"
										   placeholder="Cost" />
								</div>

							</div>

							<div class="col-md-6 col-lg-6">


								<div class="form-group">
									<label for="name">Type Name</label>
									<input type="text" class="form-control" id="name"
										   placeholder="Name" />
								</div>

							</div>
						</div>
					</div>
					<div class="card-action">
						<button class="btn btn-success" id="submitBtn">Submit</button>
						<button class="btn btn-danger" id="cancelBtn" onclick="history.back()">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>

	document.getElementById('submitBtn').addEventListener('click', function(event) {
		console.log("test")
		event.preventDefault();  // Ngừng hành động mặc định của nút (nếu có)

		// Thu thập dữ liệu từ form
		const type = document.getElementById('type').value;
		const name = document.getElementById('name').value;
		const costStandard = document.getElementById('costStandard').value;

		// Tạo đối tượng dữ liệu từ form
		const formData = {
			name: name,
			type: type,
			costStandard: costStandard
		};

		console.log(JSON.stringify(formData))

		// Gọi API sử dụng fetch
		fetch('api/fees', {
			method: 'POST',  // Phương thức HTTP
			headers: {
			'Content-Type': 'application/json'  // Định dạng dữ liệu là JSON
			},
			body: JSON.stringify(formData)  // Chuyển đổi đối tượng thành JSON
		})
		.then(response => response.json())  // Xử lý phản hồi API
		.then(data => {
			console.log('Success:', data);
			window.location.href = '/viewAllFees';
			// Làm gì đó sau khi thành công (ví dụ: chuyển hướng, thông báo, v.v.)
		})
		.catch(error => {
			console.error('Error:', error);
		// Xử lý lỗi (ví dụ: hiển thị thông báo lỗi)
			});
	});
	</script>


</div>