<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::content})}">

<div class="container" th:fragment="content">
	<script>
		const submitBtn = document.getElementById('submitBtn');
		const cancelBtn = document.getElementById('cancelBtn');
		const nameInput = document.getElementById('name');
		const locationInput = document.getElementById('location');
		const areaInput = document.getElementById('area');
		const descriptionInput = document.getElementById('description');

		submitBtn.addEventListener('click', function() {
			const name = nameInput.value;
			const location = locationInput.value;
			const area = areaInput.value;
			const description = descriptionInput.value;

			fetch('/api/rooms', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					name: name,
					location: location,
					area: area,
					description: description
				})
			})
			.then(async (response) => {
				const data = await response.json();
				if (!response.ok) {
					throw new Error('Error: ' + data.message);
				}
				return data;
			})
			.then(data => {
				alert("add success");
				window.location.href = '/viewAllRooms';
			})
			.catch(error => {
				console.error('Error:', error);
				alert(error.message);
			});

		})

	</script>


</div>