<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::content})}">


<div class="container" th:fragment="content">

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const params = new URLSearchParams(window.location.search);
			const type = params.get("type"); //
			const demographicId = params.get("demographicId"); //

			const idInput = document.getElementById("idDemographic");
			const typeInput = document.getElementById("type");
			const roomForm = document.getElementById("roomForm");


			idInput.value = "ID = " + demographicId;
			typeInput.value = type;

			if (type === "TEMPORARY_ABSENCE") {
				roomForm.hidden = true;
			}

			const submitBtn = document.getElementById("submitBtn");
			submitBtn.addEventListener("click", function () {
				const location = document.getElementById("location").value;
				const reason = document.getElementById("reason").value;
				const startDate = document.getElementById("startDate").value;
				const endDate = document.getElementById("endDate").value;
				const room = document.getElementById("room").value;

				const formData = {
					demographicId: demographicId,
					type: type,
					location : location,
					reason : reason,
					startedDate : startDate,
					endedDate : endDate,
					roomName : room
				};
				console.log(formData);
				fetch("/api/temporaryResidences", {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify(formData)
				})
					.then(async (res) => {
						const data = await res.json();
						if (!res.ok) {
							throw new Error("error" + data.message);
						}
						return data;
					})
					.then((response) => {
						alert("add temporary success");
						window.location.href = "/viewAllTemporary";
					})
					.catch((error) => {
						console.error("Error:", error);
						alert("add temporary fail " + error.message);
					});
			});

		});
	</script>
</div>