<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::content})}">


<div class="container" th:fragment="content">
	<div class="page-inner">

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Add Temporary</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="form-group">
									<label for="idDemographic">Id</label>
									<input type="text" class="form-control" id="idDemographic"
										   placeholder="Enter Id" readonly/>
								</div>

								<div class="form-group">
									<label for="type">Type</label>
									<input type="text" class="form-control" id="type"
										   placeholder="Enter Type" readonly />
								</div>

								<div class="form-group">
									<label for="startDate" >Start Date</label>
									<input
											type="date"
											class="form-control"
											id="startDate"
											name="startDate"
											placeholder="Start Date"
									>
								</div>

								<div class="form-group">
									<label for="endDate" >End Date</label>
									<input
											type="date"
											class="form-control"
											id="endDate"
											name="endDate"
											placeholder="End Date"
									>
								</div>



							</div>

							<div class="col-md-6 col-lg-6">

								<div class="form-group" id="roomForm">
									<label for="room">Room</label>
									<input type="text" class="form-control" id="room"
										   placeholder="Room" />
								</div>

								<div class="form-group">
									<label for="location">Location</label>
									<input type="text" class="form-control" id="location"
										   placeholder="Location" />
								</div>

								<div class="form-group">
									<label for="reason">Reason</label>
									<textarea type="text" class="form-control" id="reason"
											  placeholder="Reason"></textarea>
								</div>


							</div>
						</div>
					</div>
					<div class="card-action">
						<button class="btn btn-success" id="submitBtn">Submit</button>
						<button class="btn btn-danger" id="cancelBtn" onclick="history.back()">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const params = new URLSearchParams(window.location.search);
			const type = params.get("type"); //
			const demographicId = params.get("demographicId"); //

			const idInput = document.getElementById("idDemographic");
			const typeInput = document.getElementById("type");
			const roomForm = document.getElementById("roomForm");


			idInput.value = "ID = " + demographicId;
			typeInput.value = type;

			if (type === "TEMPORARY_ABSENCE") {
				roomForm.hidden = true;
			}

			const submitBtn = document.getElementById("submitBtn");
			submitBtn.addEventListener("click", function () {
				const location = document.getElementById("location").value;
				const reason = document.getElementById("reason").value;
				const startDate = document.getElementById("startDate").value;
				const endDate = document.getElementById("endDate").value;
				const room = document.getElementById("room").value;

				const formData = {
					demographicId: demographicId,
					type: type,
					location : location,
					reason : reason,
					startedDate : startDate,
					endedDate : endDate,
					roomName : room
				};
				console.log(formData);
				fetch("/api/temporaryResidences", {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify(formData)
				})
					.then(async (res) => {
						const data = await res.json();
						if (!res.ok) {
							throw new Error("error" + data.message);
						}
						return data;
					})
					.then((response) => {
						alert("add temporary success");
						window.location.href = "/viewAllTemporary";
					})
					.catch((error) => {
						console.error("Error:", error);
						alert("add temporary fail " + error.message);
					});
			});

		});
	</script>
</div>