<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::content})}">

<div class="container" th:fragment="content">
    <script>
        document.getElementById('submitBtn').addEventListener('click', function(event) {
            console.log("test")
            event.preventDefault();  // Ngừng hành động mặc định của nút (nếu có)

            // Thu thập dữ liệu từ form
            const userName = document.getElementById('email').value;
            const role = document.getElementById('role').value;
            const password = document.getElementById('password').value;
            const phoneNumber = document.getElementById('phoneNumber').value;

            // Tạo đối tượng dữ liệu từ form
            const formData = {
                userName: userName,
                role: role,
                password: password,
                phoneNumber: phoneNumber
            };

            console.log(JSON.stringify(formData))

            // Gọi API sử dụng fetch
            fetch('api/auth/users', {
                method: 'POST',  // Phương thức HTTP
                headers: {
                    'Content-Type': 'application/json'  // Định dạng dữ liệu là JSON
                },
                body: JSON.stringify(formData)  // Chuyển đổi đối tượng thành JSON
            })
                    .then(async (response) => {
                        const data = await response.json();
                        if (!response.ok) {
                            console.error('Error:', data);
                            throw new Error('Error: ' + data.message);
                        } else {
                            return data;
                        }
                    })  // Xử lý phản hồi API
                    .then(data => {
                        console.log('Success:', data);
                        alert("Add user success");
                        window.location.href = '/viewAllUsers';
                        // Làm gì đó sau khi thành công (ví dụ: chuyển hướng, thông báo, v.v.)
                    })
                    .catch(error => {

                        console.error('Error:', error);
                        alert(error.message);
                        // Xử lý lỗi (ví dụ: hiển thị thông báo lỗi)
                    });
        });

    </script>
</div>