<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::content})}">

<div class="container" th:fragment="content">

	<script>
		fetch("api/statistics")
			.then(async (res) => {
				const data = await res.json();
				if (!res.ok) {
					throw new Error('Error fetching data' + data.message);
				}
				return data;
			})
			.then(response => {
				const data = response.data;
				const totalHouseholds = document.getElementById("totalHouseholds");
				const totalRooms = document.getElementById("totalRooms");
				const totalUsers = document.getElementById("totalUsers");
				const totalDemographics = document.getElementById("totalDemographics");
				totalHouseholds.innerHTML = data.totalHouseholds;
				totalRooms.innerHTML = data.totalRooms;
				totalDemographics.innerHTML = data.totalDemographics;
				totalUsers.innerHTML = data.totalUsers;
			})
			.catch(err => {
				console.log(err);
				alert("Lỗi: " + err.message);
			})
	</script>
</div>
