<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::content})}">

<div class="container" th:fragment="content">

	<script>
		fetch("api/rooms")
			.then(response => {
				const data = response.json();
				if (response.ok) {
					return data;
				} else {
					throw new Error('Error: ' + data.message);
				}
			})
			.then(res => {
				const data = res.data;
				const allRooms = document.getElementById("allRooms");
				data.forEach(room => {
					const row = document.createElement("tr");
					row.innerHTML = `
						<td>${room.name}</td>
						<td>${room.ownerName}</td>
						<td>${room.status}</td>
						<td>
					  <div class="form-button-action">
						<a type="button" class="btn btn-link btn-primary btn-lg"
							 title="Chỉnh sửa" data-original-title="Edit Task">
						  <i class="fa fa-edit"></i>
						</a>
						<button type="button" class="btn btn-link btn-danger"
								data-bs-toggle="modal" title="Xóa" data-original-title="Remove"
								data-user-id="${room.id}"
								data-bs-target="#deleteModal" data-room-name="${room.name}">
						  <i class="fa fa-times"></i>
						</button>
					  </div>
					</td>`;
					allRooms.appendChild(row);
				})
			})
			.catch(error => {
				console.error(error);
				alert("Lỗi: " + error.message);
			});

	</script>

</div>

