<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::content})}">

<div class="container" th:fragment="content">
	<div class="page-inner">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="d-flex align-items-center">
							<h4 class="card-title">View Households</h4>
							<a class="btn btn-primary btn-round ms-auto" th:href="@{/addHousehold}">
								<i class="fa fa-plus"></i>
								Add Row
							</a>
						</div>
					</div>
					<div class="card-body">
						<!-- Modal -->
						<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog"
							 aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header border-0">
										<h5 class="modal-title">
											<span class="fw-mediumbold"> New</span>
											<span class="fw-light"> Row </span>
										</h5>
										<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p class="small">
											Create a new row using this form, make sure you
											fill them all
										</p>
										<form>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group form-group-default">
														<label>Name</label>
														<input id="addName" type="text" class="form-control"
															   placeholder="fill name" />
													</div>
												</div>
												<div class="col-md-6 pe-0">
													<div class="form-group form-group-default">
														<label>PhoneNumber</label>
														<input id="addPhoneNumber" type="text"
															   class="form-control" placeholder="fill phone" />
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-group-default">
														<label>Role</label>
														<input id="addRole" type="text" class="form-control"
															   placeholder="fill role" />
													</div>
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer border-0">
										<button type="button" id="addRowButton" class="btn btn-primary">
											Add
										</button>
										<button type="button" class="btn btn-danger" data-dismiss="modal">
											Close
										</button>
									</div>
								</div>
							</div>
						</div>

						<div class="table-responsive">
							<table id="add-row" class="display table table-striped table-hover">
								<thead>
								<tr>
									<th>Owner Name</th>
									<th>Number Of HouseHold</th>
									<th>Number Of People</th>
									<th style="width: 10%">Action</th>
								</tr>
								</thead>
								<tbody id="householdTable">

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		console.log("test")
		fetch('/api/households')
			.then(res => {
				if (!res.ok) {
					throw new Error('error');
				}
				return res.json();
			})
			.then(response => {
				const allHouseholds = response.data;
				console.log(allHouseholds)
				const tbody = document.getElementById("householdTable");

				allHouseholds.forEach(household => {
					const tr = document.createElement("tr");

					tr.innerHTML = `
					<td>${household.ownerName}</td>
					<td>${household.numberOfHousehold}</td>
					<td>${household.numberOfPeople}</td>
					<td>
					  <div class="form-button-action">
						<a class="btn btn-link btn-primary btn-lg"
								 title="Chỉnh sửa" data-original-title="Edit Task"
								href="/viewHousehold?id=${household.id}"
								>
						  <i class="fa fa-edit"></i>
						</a>
						<button type="button" class="btn btn-link btn-danger"
								data-bs-toggle="tooltip" title="Xóa" data-original-title="Remove">
						  <i class="fa fa-times"></i>
						</button>
					  </div>
					</td>
				  `;

					tbody.appendChild(tr);
				});
			})
			.catch(err => {
				alert("Lỗi: " + err.message);
			});

	</script>

</div>

