<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::content})}">

<div class="container" th:fragment="content">

	<script>
		const params = new URLSearchParams(window.location.search);
		const householdId = params.get("id");

		// Gọi API để lấy thông tin user
		fetch('/api/households/' + householdId)
			.then(res => {
				if (!res.ok) {
					throw new Error('Không tìm thấy household');
				}
				return res.json();
			})
			.then(response => {

				//View household
				const data = response.data;
				const householdData = data.householdData;
				// Gán dữ liệu vào HTML
				document.getElementById("ownerName").textContent = householdData.ownerName;
				// document.getElementById("alias").textContent = userData.alias;
				document.getElementById("numberOfHousehold").textContent = householdData.numberOfHousehold;
				document.getElementById("location").textContent = householdData.location;
				document.getElementById("numberOfPeople").textContent = householdData.numberOfPeople;
				document.getElementById("citizenIdOwner").textContent = householdData.citizenIdOwner;
				document.getElementById("areaCode").textContent = householdData.areaCode;

				console.log(response)
				console.log(householdData)
				//View List Demographics
				const listDemographics = data.listDemographics;
				console.log(listDemographics)
				const tbody = document.getElementById('demographicList');


				listDemographics.forEach(demographic => {
					const tr = document.createElement('tr');

					tr.innerHTML = `
						<td>${demographic.name}</td>
						<td>${demographic.age}</td>
						<td>${demographic.sex}</td>
						<td>${demographic.relationship}</td>
						<td>
						  <div class="form-button-action">
							<button type="button" class="btn btn-link btn-primary btn-lg"
							  onclick="window.location.href='/viewDemographic?id=${demographic.id}'"
							  data-bs-toggle="tooltip" data-original-title="Edit Task">
							  <i class="fa fa-edit"></i>
							</button>

							<button type="button" class="btn btn-link btn-primary btn-lg"
							  onclick="window.location.href='/addTemporary?type=TEMPORARY_ABSENCE&demographicId=${demographic.id}'"
							  data-bs-toggle="tooltip" data-original-title="add temporary">
							  <i class="fa-solid fa-house" style="color: #4984b2;"></i>
							</button>

							<button type="button" class="btn btn-link btn-danger"
							  onclick=""
							  data-bs-toggle="tooltip"
							  data-original-title="Remove">
							  <i class="fa fa-times"></i>
							</button>
						  </div>
						</td>
      					`;

					tbody.appendChild(tr);
				});
				// document.getElementById("citizenId").textContent = userData.citizenId;
			})
			.catch(err => {
				alert("Lỗi: " + err.message);
			});
	</script>

	<script>
		window.onload = function () {
			const params = new URLSearchParams(window.location.search);
			const idHousehold = params.get("id")
			console.log("fefewifuh")
			const addMemberBtn = document.getElementById('addMemberBtn');
			console.log(idHousehold)
			addMemberBtn.addEventListener('click', () => {
				console.log("fewfewfe")
				const idMember = document.getElementById('idMember').value;
				const relationship = document.getElementById('relationship').value;
				fetch('/api/households/' + idHousehold + '/addDemographics', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						id: idMember,
						relationship: relationship
					})
				})
					.then(async res => {
						const data = await res.json();
						if (!res.ok) {
							throw new Error('error' + data.message);
						}
						return data;
					})
					.then(response => {
						alert('add member success');
						window.location.reload()
					})
					.catch(err => {
						console.log("fheiuhfe" + err.message);
						alert('Lỗi: ' + err.message);
					});
			});
		}
	</script>

	<script>
		function addContribution() {
			console.log("fewfewf")
			const params = new URLSearchParams(window.location.search);
			const idHousehold = params.get("id")
			window.location.href = '/addContribution?householdId=' + idHousehold;
		}

		document.addEventListener("DOMContentLoaded", function () {
			const params = new URLSearchParams(window.location.search);
			const householdId = params.get("id"); //
			fetch("/api/households/" + householdId + "/contributes?status=IN_COMPLETE")
				.then(res => {
					const data = res.json();
					if (!res.ok) {
						throw new Error('error' + data.message);
					}
					return data;
				})
				.then(response => {
					const data = response.data;
					const tbody = document.getElementById("listFeesNotDone");

					data.forEach(contribution => {
						const tr = document.createElement("tr");

						tr.innerHTML = `
						<td>${contribution.feeName}</td>
						<td>${contribution.createdAt}</td>
						<td>${contribution.deadline}</td>
						<td>${contribution.money}</td>
						<td>
						<div class="dropdown">
						<button class="action-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-ellipsis-v"></i>
						</button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<button class="dropdown-item" href="#" data-contribute-id="${contribution.id}" onclick="doneContribution(${contribution.id})">
									<i class="fas fa-edit me-2"></i>Done
								</button>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<button class="dropdown-item text-danger" href="#"
								data-bs-toggle="modal" title="Xóa" data-original-title="Remove"
								data-contribute-id="${contribution.id}"
								data-bs-target="#deleteContributeModal" data-contribute-name="${contribution.feeName}"
								>
									<i class="fas fa-trash me-2"></i>Xóa
								</button>
							</li>
						</ul>
						</div>
						</td>
						`
						tbody.appendChild(tr);
					})
				})
				.catch(err => {
					alert('Lỗi: ' + err.message);
				});
		});

		function doneContribution(contributeId) {
			fetch("/api/contributes/" + contributeId,{
				method: 'PATCH',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					status: "COMPLETE"
				})
			})
			.then(async res => {
				const data = await res.json();
				if (!res.ok) {
					throw new Error('error' + data.message);
				}
				return data;
			})
			.then(response => {
				window.location.reload()
			})
			.catch(err => {
				console.log("fheiuhfe" + err.message);
				alert('Lỗi: ' + err.message);
			})
		}
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const params = new URLSearchParams(window.location.search);
			const householdId = params.get("id"); //
			fetch("/api/households/" + householdId + "/contributes?status=COMPLETE")
				.then(res => {
					const data = res.json();
					if (!res.ok) {
						throw new Error('error' + data.message);
					}
					return data;
				})
				.then(response => {
					const data = response.data;
					const tbody = document.getElementById("listFeesDone");

					data.forEach(contribution => {
						const tr = document.createElement("tr");

						tr.innerHTML = `
							<td>${contribution.feeName}</td>
							<td>${contribution.paymentDate}</td>
							<td>${contribution.money}</td>

							`
						tbody.appendChild(tr);
					})
				})
				.catch(err => {
					alert('Lỗi: ' + err.message);
				});
		});
	</script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const deleteModal = document.getElementById('deleteContributeModal');
			const contributeNameElement = document.getElementById('contributionNameToDelete');
			const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
			let currentContributeId = null;

			// Khi modal được mở
			deleteModal.addEventListener('show.bs.modal', function(event) {
				const button = event.relatedTarget; // Nút đã kích hoạt modal
				const contributeName = button.getAttribute('data-contribute-name');
				const contributeId = button.getAttribute('data-contribute-id');

				// Cập nhật tên người dùng trong modal
				contributeNameElement.textContent = contributeName;
				currentContributeId = contributeId;
			});

			// Xử lý khi nhấn nút "Xóa"
			confirmDeleteBtn.addEventListener('click', function() {
				if (currentContributeId) {
					// Thực hiện xóa - có thể gọi API hoặc xử lý logic xóa ở đây
					console.log('Đang xóa người dùng có ID:', currentContributeId);

					fetch("/api/contributes/" + currentContributeId, {
						method: 'DELETE'
					})
						.then(async (response) => {
							const data = await response.json();
							if (response.ok) {
								return data;
							} else {
								throw new Error('Error: ' + data.message);
							}
						})
						.then(data => {
							// Xử lý phản hồi
							alert("delete success");
							location.reload(); // Tải lại trang hoặc cập nhật bảng
						})
						.catch(error => {
							alert("delete fail " + error.message);
							console.error('Error:', error);
							// Xử lý lỗi (ví dụ: hiển thị thông báo lỗi)
						});
				}
			});


		});
	</script>


</div>