<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::content})}">

<div class="container" th:fragment="content">
<!--	get ALl fees-->
	<script>
		console.log("test")
		fetch('/api/fees')
			.then(res => {
				if (!res.ok) {
					throw new Error('error');
				}
				return res.json();
			})
			.then(response => {
				const allFees = response.data;
				console.log(allFees)
				const tbody = document.getElementById("feeTable");

				allFees.forEach(fee => {
					const tr = document.createElement("tr");

					tr.innerHTML = `
					<td>${fee.name}</td>
					<td>${fee.type}</td>
					<td>${fee.costStandard}</td>
					<td>
					  <div class="form-button-action">
						<button type="button" class="btn btn-link btn-primary btn-lg"
								data-bs-toggle="modal" title="Chỉnh sửa" data-original-title="Edit Task">
						  <i class="fa fa-edit"></i>
						</button>
						<button type="button" class="btn btn-link btn-danger"
								data-bs-toggle="modal" title="Xóa" data-original-title="Remove"
								data-fee-id="${fee.id}"
								data-bs-target="#deleteFeeModal" data-fee-name="${fee.name}"
								>
						  <i class="fa fa-times"></i>
						</button>
					  </div>
					</td>
				  `;

					tbody.appendChild(tr);
				});
			})
			.catch(err => {
				alert("Lỗi: " + err.message);
			});

	</script>

<!--	delete fee-->
	<script>
		// JavaScript để xử lý modal xác nhận xóa
		document.addEventListener('DOMContentLoaded', function() {
			const deleteModal = document.getElementById('deleteFeeModal');
			const feeNameElement = document.getElementById('feeNameToDelete');
			const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
			let currentFeeId = null;

			// Khi modal được mở
			deleteModal.addEventListener('show.bs.modal', function(event) {
				const button = event.relatedTarget; // Nút đã kích hoạt modal
				const feeName = button.getAttribute('data-fee-name');
				const feeId = button.getAttribute('data-fee-id');

				// Cập nhật tên người dùng trong modal
				feeNameElement.textContent = feeName;
				currentFeeId = feeId;
			});

			// Xử lý khi nhấn nút "Xóa"
			confirmDeleteBtn.addEventListener('click', function() {
				if (currentFeeId) {
					// Thực hiện xóa - có thể gọi API hoặc xử lý logic xóa ở đây
					console.log('Đang xóa gee có ID:', currentFeeId);

					fetch("/api/fees/" + currentFeeId, {
						method: 'DELETE'
					})
						.then(async (response) => {
							const data = await response.json();
							if (response.ok) {
								return data;
							} else {
								throw new Error('Error: ' + data.message);
							}
						})
						.then(data => {
							// Xử lý phản hồi
							alert("delete success");
							location.reload(); // Tải lại trang hoặc cập nhật bảng
						})
						.catch(error => {
							alert("delete fail " + error.message);
							console.error('Error:', error);
							// Xử lý lỗi (ví dụ: hiển thị thông báo lỗi)
						});
				}
			});


		});
	</script>

</div>
