<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::content})}">

<div class="container" th:fragment="content">

	<script>
		const params = new URLSearchParams(window.location.search);
		const demographicId = params.get("id");

		// Gọi API để lấy thông tin user
		fetch('/api/demographics/' + demographicId)
			.then(res => {
				if (!res.ok) {
					throw new Error('Không tìm thấy user');
				}
				return res.json();
			})
			.then(response => {
				const userData = response.data;
				console.log(userData)
				// Gán dữ liệu vào HTML
				document.getElementById("name").textContent = userData.name;
				// document.getElementById("alias").textContent = userData.alias;
				document.getElementById("birthday").textContent = userData.birthday;
				document.getElementById("gender").textContent = userData.sex;
				document.getElementById("nationality").textContent = userData.nationality;
				document.getElementById("ethnic").textContent = userData.ethnic;
				document.getElementById("job").textContent = userData.job;
				document.getElementById("citizenId").textContent = userData.citizenId;
				document.getElementById("workplace").textContent = userData.workplace;
				document.getElementById("phone").textContent = userData.phoneNumber;
				document.getElementById("email").textContent = userData.email;
				// document.getElementById("citizenId").textContent = userData.citizenId;
			})
			.catch(err => {
				alert("Lỗi: " + err.message);
			});
	</script>
</div>
